<header class="p-3 text-bg-dark toolbar navbar-fixed-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a style="cursor: pointer;" class="nav-link px-2 text-secondary" routerLink='/home' routerLinkActive="router-link-active" >Home</a></li>
        <li><a style="cursor: pointer;" class="nav-link px-2 text-white" routerLink='/auth' routerLinkActive="router-link-active">Auth</a></li>
      </ul>

      <div class="text-end" *ngIf="true">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-success">Sign-up</button>
      </div>

      <div class="dropdown" *ngIf="true">
        <a class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Domestic_cat_cropped.jpg/640px-Domestic_cat_cropped.jpg"
          alt="mdo" class="rounded-circle" width="32" height="32">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" style="cursor: pointer;">New project...</a></li>
          <li><a class="dropdown-item" style="cursor: pointer;">Settings</a></li>
          <li><a class="dropdown-item" style="cursor: pointer;">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" style="cursor: pointer;">Sign out</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>
