<div class="row">

  <div class="col-xs-12" >

    <div class="d-flex justify-content-between" style="padding-bottom: 20px;">
      <h2>Login/Register</h2>
      <button class="btn btn-danger" (click)="close()">X</button>
    </div>

    <form [formGroup]="authForm">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-floating mb-3">
            <input type="text" id="floatingInput" class="form-control" formControlName="email">
            <label for="floatingInput">Email</label>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!loginMode">
        <div class="col-xs-12">
          <div class="form-floating mb-3">
            <input type="text" id="floatingInput" class="form-control" formControlName="username">
            <label for="floatingInput">Username</label>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!loginMode">
        <div class="col-xs-12">
          <div class="form-floating mb-3">
            <input type="text" id="floatingInput" class="form-control" formControlName="fullName">
            <label for="floatingInput">Full Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-floating mb-3">
            <input type="password" id="floatingInput" class="form-control" formControlName="password">
            <label for="floatingInput">Password</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 d-flex justify-content-between">
          <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!authForm.valid">Submit</button>

          <button type="button" class="btn btn-primary" [innerText]=" loginMode? 'Siwtch to registration': 'Switch to login' " (click)="onSwitchMode()"></button>
        </div>
      </div>
    </form>
  </div>
</div>
