<ng-container *ngFor="let post of posts">
  <br>
  <mat-card>
    <div class="row">
      <h2><p>{{ post.title }}</p></h2>
    </div>
    <div class="bd-highlight ">
      <p style="color:slategrey" class="fst-italic">{{ localFormat(post.lastModificationDate, "MMM d, y, h:mm:ss a", locale) }}</p>
    </div>
    <mat-card-content>
          <p class="text-break">{{ post.content }}</p>
    </mat-card-content>

    <div class="btn-group" role="group" *ngIf="!!authService.loggedInUser$.getValue() && post.ownerId === authService.loggedInUser$.getValue().userId">
        <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(post)">Delete</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="onEdit(post)">Edit</button>
    </div>

  </mat-card>
  <br>
</ng-container>





