<div class="container">
  <form [formGroup]="form">
    <h2>Upload a picture!</h2>

    <br>
    <div class="mb-3">
      <label >Picture upload</label>
      <br>
      <input type="file" class="form-control" formControlName="picture" aria-describedby="inputGroupFileAddon03" aria-label="Upload" #fileUpload>
    </div>
    <br>
    <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">Upload!</button>
          <button type="submit" class="btn btn-danger"  (click)="onCancel()">Cancel</button>
    </div>



  </form>
</div>
