<div class="row">

  <div class="col-xs-12" >

    <div class="d-flex justify-content-between" style="padding-bottom: 20px;">
      <h2>Login/Register</h2>
      <button type="button" class="btn-close" (click)="close()"></button>
    </div>

    <form [formGroup]="authForm">

      <div class="row">
        <div class="col-xs-12">
          <div class="form-floating mb-3">
            <input type="text" id="floatingInput" class="form-control" formControlName="email">
            <label for="floatingInput">Email</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-floating mb-3">
            <input type="text" id="floatingInput" class="form-control" formControlName="userName">
            <label for="floatingInput">userName</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-floating mb-3">
            <input type="text" id="floatingInput" class="form-control" formControlName="fullName">
            <label for="floatingInput">Full Name</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 d-flex justify-content-between">
          <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="!authForm.valid">Update</button>
        </div>
      </div>

    </form>
  </div>
</div>
